$special-green: (
  50: #fbfffb,
  100: #e4fde4,
  200: #daffda,
  300: #c8ffc8,
  400: #92f592,
  500: #57fd57,
  600: #37d337,
  700: #149b14,
  800: #0f7e0f,
  900: #044e04,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d4ffd4,
  A700: #bbffbb,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text
  )
);

$black: (
  0: #ffffff,
  50: #e0e0e0,
  100: #b3b3b3,
  200: #808080,
  300: #424242,
  400: #303030,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a6a6a6,
  A200: #8c8c8c,
  A400: #737373,
  A700: #666666,
  contrast: (
    0: $dark-primary-text,
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$orange: (
    50 : #fcf3e2,
    100 : #f6e0b8,
    200 : #f1cb88,
    300 : #ebb658,
    400 : #e6a735,
    500 : #e29711,
    600 : #df8f0f,
    700 : #da840c,
    800 : #d67a0a,
    900 : #cf6905,
    A100 : #fffbf7,
    A200 : #ffdec4,
    A400 : #ffc291,
    A700 : #ffb478,
    contrast: (
        50 : $dark-primary-text,
        100 : $dark-primary-text,
        200 : $dark-primary-text,
        300 : $dark-primary-text,
        400 : $dark-primary-text,
        500 : $dark-primary-text,
        600 : $dark-primary-text,
        700 : $dark-primary-text,
        800 : $dark-primary-text,
        900 : $light-primary-text,
        A100 : $dark-primary-text,
        A200 : $dark-primary-text,
        A400 : $dark-primary-text,
        A700 : $dark-primary-text,
    )
);