<div class="app-root-component app-home-component">
  <div class="tasks">
    <div>- can you make nation cards 'hilite' in some way when user mouse-over, select</div>
    <div>- when click on a nation card, fill out the info below</div>
    <div>- when select a nation, can u make image at #flag fade in (css)</div>
    <div>- how might you support having the 'active' nation reflected in the browser url ? ex. http://localhost:4200/home/gbr</div>
    <div>- can u make the ui 'mobile responsive' ? (ex. have info/flag in a column instead of a row)</div>
    <div>- can u write a unit test that verifies there are 250 nations ?</div>
    <div>- add any cool features u can think of</div>
  </div>
  <router-outlet></router-outlet>
</div>