.sidenav-container {
  min-width: 60px; 
  height: calc(100vh - 40px);
}

.sidenav-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nation-list {
	width: 100%;
	overflow-x: auto;
	overflow-y: scroll;
	direction: rtl;
	
	.nation-list-item {
		direction: ltr;
		text-align: center;
		height: 98px;
		//background-color: white;
		//background-color: #F0F0F0;
		cursor: pointer;
	}

	.nation-list-item:hover {
		background-color: rgba(9, 30, 66, 0.35);
	}

	.nation-div {
		width: 158px;
		height: 128px;
	}

	.image {
			width: calc( 128px - 1rem );
			height: 72px;
			margin-left: .25rem;
			overflow: hidden;
			object-fit: cover;
			border: 1px solid black;
	}

	.router-link-active {
		background-color: rgba(9, 30, 66, 0.25);
	}
}